<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:cjava="http://www.haoyu.com/schema/cjava"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.haoyu.com/schema/cjava
        http://www.haoyu.com/schema/cjava/cjava-1.0.xsd
		"
	default-lazy-init="false">

    <!-- 全局配置 -->
	<cjava:config order="1" isDebug="false" port="19999" maxConnections="20" headSign="AAAA" footSign="AA55"/>
	
	<!-- 配置connectionFactory -->
	<bean class="com.haoyu.module.jcstruct.conn.factory.SocketConnFactoryImpl">
		<property name="port" value="19999"></property>
		<property name="maxConnections" value="20"></property>
		<property name="headSign" value="AAAA"></property>
		<property name="footSign" value="AA55"></property>
		<property name="deciseConnection" ref="deciseConnection"></property>
	</bean>

	<bean id="deciseConnection"
		class="com.haoyu.module.jcstruct.conn.DeciseSocketConnectionVersionFirst"></bean>
		
	
	<bean id="byteArrayJFieldOpt" class="com.haoyu.module.jcstruct.opt.ByteArrayJFieldOpt"></bean>
	
	<cjava:templateContainer/>
	<cjava:optManager class="com.haoyu.module.jcstruct.opt.OptManagerForDebug">
	<cjava:optManagerOne key="bytearray" value-ref="byteArrayJFieldOpt"/>
	</cjava:optManager>
	<cjava:dispatchCenterService/>
	<cjava:refreshManager/>
	
	<!-- 效仿spring拦截器配置  自定义拦截器设置-->
	<cjava:checks>
		<cjava:check>
			<cjava:contains id="*" />
			<bean class="com.haoyu.module.jcstruct.test.handle.SgckBccCheck">
				<property name="excludeFileNames">
					<array value-type="java.lang.String">
						<value>BCC</value>
						<value>Constant_Up_Stop</value>
					</array>
				</property>
			</bean>
		</cjava:check>
		<cjava:check>
			<cjava:contains id="2,4_4" />
			<bean class="com.haoyu.module.jcstruct.test.handle.SgckReComputeValueInterceptor">
				<property name="rules">
					<map>
						<entry key="Temperature" value="{*}{0.01}"></entry>
					</map>
				</property>
			</bean>
		</cjava:check>
	</cjava:checks>
	
	
	
	<context:component-scan base-package="com.haoyu.module.jcstruct.test.handle" />
	
	<context:component-scan base-package="com.haoyu.module.jcstruct.resolve" />
	
	
	
	<cjava:check/>

    <import resource="spring-cjava-fc.xml"/>
    <import resource="spring-cjava-tc.xml"/>
	
</beans>